@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Identity
@using StockTracker.Client.Models

<AuthorizeView>
    <Authorized>
        <div class="top-row px-4">
            <button class="btn btn-link" @onclick="Logout">Logout</button>
            <span class="font-weight-bold ml-4">Hello, @context.User.Identity.Name</span>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="top-row px-4">
            <a href="Identity/Account/Login">Login</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

<main>
    <article class="content px-4">
        @Body
    </article>
</main>

@code {
    private async Task Logout()
    {
        ((AuthentificationService)AuthenticationStateProvider).MarkUserAsLoggedOut();
        NavigationManager.NavigateTo("/Identity/Account/Login");
    }
}
